<!doctype html>
<html>
<head>
    <title>iTrack</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="indexStyle.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
      <div class="">
        <h1>iTrack Bills</h1>
      </div>
      <div class="">
        <img src="img/Bill-Pay.png" alt="21 Savage Profile Photo">
      </div>
      <div class="">
        <p>Login or Signup:</p>
      </div>
      <div class="">
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </div>
    </div>

</div>
</body>
</html>
