.headerLogo{
  text-align: center;
}
.headerInstructions{
  text-align: center;
}
h1{
  font-size: 44px;
}
h2{
  text-align: center
  background: white;
}
div{
  text-align: center;
  font-size: 20px;

}
.message{
  list-style: none;
  font-size: 25px;
}


.payingBillsPic{
  width: 30%
}
body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cef6ff;
}
.page-header{
  border-bottom: none;
  color: black
}
